<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="bpms自动化测试">
	<listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter" />
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
    </listeners>
	
	<test name="login">
		<classes>
		<!-- 选择要执行的测试类 -->
			<class name="com.essa.testSuite.Test_Login"> 
			</class>
		</classes>
	</test>
	
	<!--
	<test name="编辑综合实力评估">
		<classes>
			<class name="com.essa.testSuite.Test_Development_Ability">	
				<methods>
					<include name="editDevelopmentAbility"/>	
					<include name="toSupplierOperationsTrack"/>	 切换到供应商管理菜单 
				</methods>
			</class>
		</classes>
	</test>
	-->
</suite>

